* {
	margin: 0;
	padding: 0;
}

html {
/*      overflow: -moz-scrollbars-vertical !important; */
      overflow-x: auto; /*hidden;*/
      overflow-y: scroll;
     }
body {
  background-color: #EAEAEA;
  margin: 0px;
  min-width: 950px;
  width: 99%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.clearer {clear: both;}

.normalimage {
  border-width:0;
}

img {
border: 0;
}

.hintimage {
  border-width: 0;
  vertical-align: middle;
}

.top {
  padding-left: 6px;
  padding-right: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100%;
  min-width: 940px;
  margin: 0 !important;
}

.first_top {
  padding-top: 0px;
}

.PageContainer {
  padding-left: 6px;
  padding-right: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  /*margin: 0px auto 0px auto;*/
  width: 100%;
  min-width: 940px;
  background: transparent;
}

.WarnHeader {
   padding: 4px 0px;
   margin: 0px auto 0px auto;
   width: 100%;
	  background-color: #FF0000;
	  color: #FFFFFF;
   border:1px #000000 solid;
}

.WarnHeader > div {
  padding: 4px;
}

.EvaluationHeader {
   padding: 4px 0px;
   margin: 2px auto 0px auto;
   width: 100%;
	  background-color: #FFFFCC;
	  color: #000000;
   border:1px #000000 solid;
}

.EvaluationHeader > div {
  padding: 4px;
}

.header {
   padding: 0px 0px 0px 0px;
   margin: 0px auto 0px auto;
   width: 100%;
}

	.header .LogoTable {
   width: 100%;
   min-width: 940px;
  	height: 89px;
  	background-color: #7795BD;
  	text-align: center;
  	background: transparent url(../images/top_bg.jpg) top left repeat-x;

  	margin-left: auto;
  	margin-right: auto;
	}

		.header .LeftTD {
  		text-align: left;
  		width: 200px;
		}

		.header .RightTD {
  		text-align: right;
  		vertical-align: top;

  		color: #FFFFFF;

  		font-size: 0.75em;
  		letter-spacing: 0.1pt;
  		padding-top: 5px;
  		padding-right: 8px;
		}

		.header .RightTD a {
  		color: #FFFFFF;
		}

  .header .MenuTable {
    z-index:100;
    text-align: left;
    font-size: 0.9em;
    color: #FFFFFF;
    letter-spacing: 0.1pt;
    background: transparent url(../images/menu_bg.jpg) top left repeat-x;
    padding-top: 2px;
    padding-left: 4px;
    height: 22px;
  }


  .header .MenuTable a.help {
    color: #FFFFFF;
  }

  .header .LoggedInUser {
    text-align: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding-right: 8px;
    letter-spacing: normal;
  }

  .header .LoggedInUser a {
    text-decoration:none;
    font-size: 0.85em;
  }

.topic {
 border:1px #BABABA solid;
	background-color: #FFFFCC;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	font-weight:bold;
	font-size: 0.8em;
	color: #758079;
}

.errortopic {
 border:1px #BABABA solid;
	background-color: #FFFFCC;
	margin: 8px;
	padding: 8px;
	font-weight:bold;
	color: #FF0033;
}

.container {
	font-size: 1.0em;
 border:1px #BABABA solid;
	background-color: #FFFFFF;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}

.container p{
  font-size: 0.9em;
}

.container ul {
	margin-top: 8px;
	margin-bottom: 4px;
	margin-left: 28px;
	margin-right: 8px;
	padding: 0px;
}

.container ul li {
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
 list-style-type: square;
}

.footer {
	text-align: left;
	background-color: #7795BD;
	font-size: 0.75em;
	font-weight: normal;
	letter-spacing: 0.2pt;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover {
  background: #FFD69A;
  color: #000000;
  text-decoration: none;
}

.footer .footer_supportlinks {
  float: right;
}

.Backlink a{
	font-weight:normal;
	font-size: 0.8em;
	color:#000000;
	background-color: transparent;
	padding:10px;
	padding-bottom: 2px;
}

/* ***** dialog wnds START */
.headerDialog {
   padding: 0px 0px 0px 0px;
   margin: 0px auto 0px auto;
	  width: 680px;
	  left:0px;
}

  .headerDialog .MenuTable {
    z-index:100;
    text-align: left;
    font-size: 0.8em;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 0.1pt;
    background: transparent url(../images/menu_bg.jpg) top left repeat-x;
    padding-top:3px;
    padding-left:4px;
    height: 21px;

  }

  .headerDialog .MenuTable a {
    color: #FFFFFF;
  }

.topDialog {
  padding: 0px 0px 0;
}

.PageContainerDialog {
  background: transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px auto 0px auto;
  width: 680px;
  font-size: 0.95em;
  font-weight: normal;
}

.containerDialog {
   padding: 0px 0px 0px 0px;
   margin: 0px auto 0px auto;
	  left:0px;
}

  .containerDialog .MenuTable {
    z-index:100;
    text-align: left;
    font-size: 0.8em;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 0.1pt;
    background: transparent url(../images/menu_bg.jpg) top left repeat-x;
    padding-top:3px;
    padding-left:4px;
    height: 21px;

  }

/* ***** dialog wnds END */

fieldset {
  border-color: #BABABA;
  border-width: 1px;
  border-style: dotted;
  padding:10px;
  margin:8px;
}

fieldset label {
  cursor: pointer;
}

fieldset, legend {
  font-weight:  bold;
  font-size: 0.95em;
  color: #7795BD;
  letter-spacing: 1.5px;
  background-color: #FFFFFF;
  padding-left: 5px;
  padding-right: 5px;
}

legend{
  white-space:normal;
  display: table; /* IE10 */
}

.spacerborder {
  padding:8px;
  margin:0px;
}

input, textarea, select {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 0.95em;
	font-weight: normal;
	color: #000000;
 margin: 0px;
 padding:2px;
 line-height: normal;
}

input[type=submit], input[type=button] {
  padding:2px;
  margin:6px;
  line-height: normal;

  font-size: 0.9em;
  letter-spacing: 0.1pt;
}

fieldset input[type=submit], fieldset input[type=button] {
  margin:0px;
  padding:4px;
}

input[type=image] {
 margin: 0px;
 padding:1px;
}

#ShowHideFilterBox input[type=submit]{
  margin-top: -4px;
  margin-right: 0px;
  font-size: 1.0em;
  letter-spacing: 0.1pt;
}

#ShowHideFilterBox input[type=button]{
  margin-top: -4px;
  margin-right: 0px;
  font-size: 1.0em;
  letter-spacing: 0.1pt;
}

.FormButton {
  padding:4px;
  margin:6px;
  line-height: normal;
  font-size: 0.8em;
  letter-spacing: 0.1pt;
}

#ListActionSubmitBtn{
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

/* firefox bug */
option {
	padding-right: 0.5em;
}

/*button {
  padding:2px;
  margin:0px;
  min-height: 16px;
} */

.missingvaluebackground  {
 background-color:#FF0000;
 color:#000000;
 font-weight: normal;
}

/*  FormTable */
.FormTable {
  width: 100%;
  font-weight:  normal;
  font-size: 1.0em;
}

.FormTable a {
 font-size: 0.85em;
}

.FormTable td.highlighted {
  text-align: center;
  background-color: #dff1ff; /*FFD69A;*/
		color: #000000;
		white-space: nowrap;
		padding: 6px;
}

.FormTable .SmallText {
 font-size: 0.9em;
}

.FormTable td {
  color: #000000;
  padding-bottom: 5px; 
  letter-spacing: normal;
}

.FormTable .LabelColumn {
  width: 25%;
  text-align: left;
  vertical-align: top;
}

.FormTable .StatColumn {
  width: 35%;
  text-align: left;
  vertical-align: top;
}

.FormTable .ImportColumn {
  width: 25%;
  text-align: left;
  vertical-align: top;
}

.FormTable .MessageDescriptionColumn {
  width: 25%;
  text-align: left;
  vertical-align: top;
  padding-bottom: 12px;
  padding-right: 8px;
}

.FormTable .MessageValueColumn {
  text-align: left;
  vertical-align: top;
  padding-bottom: 12px;
}

.FormTable .CampaignStatColumn {
  width: 40%;
  text-align: left;
  vertical-align: top;
}

.FormTable .InnerTable {
  width: 99%;
  margin-top: 8px;
}

.FormTable .InnerTable .LabelColumn {
  vertical-align: middle;
  width: 20%;
}

.FormTable .InnerTable .StatColumn {
  vertical-align: middle;
  width: 25%;
}

.FormTable .InnerTable .StatValueColumn {
  vertical-align: top;
}

.FormTable h2 {
  font-size: 0.9em;
  font-weight:  bold;
  color: #000000;
}

.FormTable .InstallDescriptionColumn {
  width: 30%;
  text-align: left;
  vertical-align: top;
  padding-bottom: 12px;
  padding-right: 8px;
}

.FormTable .InstallValueColumn {
  text-align: left;
  vertical-align: top;
  padding-bottom: 12px;
}

/*  FormTable end */

/*  EditorTable */

.EditorTable {
 width: 100%;
}

.EditorTable td {
  color: #000000;
  padding: 0px; 
  letter-spacing: normal;
}


/*  EditorTable end */

/*  FixedTable */
	.FixedTable {
  font-weight:  normal;
  font-size: 0.85em;
  letter-spacing: normal;
		border:1px dotted #BABABA;
		border-collapse: collapse;
		width: 100% !important;
  margin: 0px;
	}

	.FixedTable thead td{
		font-weight:bold;
		color:#000000;
		background-color: #EAEAEA;
	}

	.FixedTable tbody td{
		color:#000000;
  letter-spacing: normal;
	}

	.FixedTable tfoot td{
		font-weight:bold;
		color:#000000;
		background-color: #EAEAEA;
		height: 36px;
		vertical-align: middle;
		text-align: left;
	}

	.FixedTable thead td a{
		font-weight:normal;
		font-size: 0.8em;
		color:#000000;
		background-color: #EAEAEA;
	}

	.FixedTable td{
  font-weight:normal;
  padding:2px;
		cursor: default;
		word-break: break-all;
		/*word-wrap:break-word;*/
	}

 .FixedTable .LabelColumn {
   width: 30%;
   text-align: left;
   vertical-align: top;
 }

 .FixedTable td .Backlink {
 	font-weight:normal;
 	font-size: 0.9em;
 	color:#000000;
 	background-color: transparent;
 	letter-spacing: 0.1pt;
 	padding:2px;
 }

	.FixedTable .tableRollOverEffect{
		/*background-color:#FFD69A;*/
		background-color:#dff1ff;
		color:#000000;
		cursor: default;
	}

	.FixedTable .tableRowClickEffect{
		background-color:#7795BD;
		color:#FFFFFF;
		cursor: default;
	}
	
	.FixedTable .AlignRight {
	  text-align: right;
	  padding-right: 8pt;
	}

	.FixedTable .AlignCenter {
	  text-align: center;
	}

	.FixedTable .NoWrap {
	  white-space: nowrap;
	}
	.FixedTable .NoWrapAlignRight {
	  text-align: right;
	  white-space: nowrap;
	  padding-right: 8pt;
	}
	.FixedTable .NoWrapAlignCenter {
	  text-align: center;
	  white-space: nowrap;
	}
.FixedTable .CampaignStatColumn {
  width: 40%;
  text-align: left;
  vertical-align: top;
		word-break: keep-all;
		white-space: normal;
		padding-right: 16px;
  font-weight: bold;
}
.FixedTable .CampaignStatValueColumn {
  text-align: left;
  vertical-align: top;
		word-break: keep-all;
		white-space: normal;
}

/*  FixedTable end */

/* Filter box */
 #ShowHideFilterBox {
   border:1px #BABABA solid;
  	background-color: #FFFFCC;
  	margin-top: 4px;
  	margin-bottom: 0px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 8px;
  	font-weight:normal;
  	color: #000000;
 }

/* Filter box end */


/* 3 Cols table with divs */

#tableDiv{
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
        text-align: center;
        font-weight:  normal;
        font-size: 0.8em;
        color:#000000;
        letter-spacing: normal;
      		border:1px dotted #BABABA;
      		border-collapse: collapse;
      		width: 98% ! important;
      		cursor: default;
    }

    #tableDivheadcol1{
        border-right: 1px dotted #BABABA;
        border-bottom: 1px dotted #BABABA;
        float: left;
        width: 15%;
        font-weight: bold;
        background-color: #EAEAEA;
        padding:2px;
    }

    #tableDivheadcol2{
        border-right: 1px dotted #BABABA;
        border-bottom: 1px dotted #BABABA;
        float: left;
        width: 40%;
        font-weight: bold;
        background-color: #EAEAEA;
        padding:2px;
    }

    #tableDivheadcol3{
      font-weight: bold;
      border-bottom: 1px dotted #BABABA;
      clear: right;
      background-color: #EAEAEA;
      padding:2px;
    }

    #tableDivcol1{
      float: left;
      width: 15%;
      padding:2px;
      text-align: right;
    }

    #tableDivcol2{
      float: left;
      width: 40%;
      padding:2px;
      text-align: left;
    }

    #tableDivcol3{
      clear: right;
      padding:2px;
      text-align: left;
    }

   	.tableRollOverEffect{
    		background-color: #dff1ff; /*FFD69A;*/
    		color: #000000;
    		cursor: default;
   	}

/* 3 Cols table with divs END */


/* 2 Cols table with divs */

#table2Div{
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
        text-align: center;
        font-weight:  normal;
        font-size: 0.8em;
        color:#000000;
        letter-spacing: normal;
      		border:1px dotted #BABABA;
      		border-collapse: collapse;
      		width: 98% ! important;
      		cursor: default;
    }

    #table2Divheadcol1{
        border-right: 1px dotted #BABABA;
        border-bottom: 1px dotted #BABABA;
        float: left;
        width: 40%;
        font-weight: bold;
        background-color: #EAEAEA;
        padding:2px;
    }

    #table2Divheadcol2{
      font-weight: bold;
      border-bottom: 1px dotted #BABABA;
      clear: right;
      background-color: #EAEAEA;
      padding:2px;
    }

    #table2Divcol1{
      float: left;
      width: 40%;
      padding:2px;
      text-align: right;
      margin-right: 4pt;
    }

    #table2Divcol2{
      clear: right;
      padding:2px;
      text-align: left;
    }

/* 2 Cols table with divs END */

/* Firefox disabled controls */
[disabled] {
  color:#C0C0C0;
}

/*  Dialog font size */
.modalDialog_contentDiv{
  font-size: 0.90em;
}

.modaldialogTitle{
  	background-color: #7795BD;
  	text-align: left;
   background: transparent url(../images/menu_bg.jpg) top left repeat-x;
   height: 22px;
   color: white;
   font-size: 0.80em;
   font-weight: bold;
   width: 100%;
   display: block;
}


/* "hack" for to high distance to save button */
div#dhtmlgoodies_tabView + br, div#dhtmlgoodies_tabView + br + br {display: none;}

/* AJAX loading Cursor */
.ajaxLoading {cursor: progress !important;}


