.ipe_item {
	cursor: pointer;
	display:block;
	border:0px;
	margin:0;
	min-height: 24px;
	margin-bottom:1px;
}

.ipe_item img {
	min-height:16px;
 min-width:14px;
	background-image:url('noimage.gif');
	background-repeat:no-repeat;
	background-position:50% 50%;
}

/* not for images */
.ipe_hover:not([rel=img]) {
	outline:2px solid #ff0000;
}

/* for images */
.ipe_hover[rel=img] > img {
	outline:2px solid #ff0000;
}

.ipe_toolbar {
 position:relative;
	display:inline;
	z-index:10000;
	margin:2px 2px -26px 0;
	float:right;
	max-height:24px;
	overflow:hidden;
	cursor: default;
}

.ipe_edit {
	cursor:pointer;
	float:left;
 min-height: 20px;
 min-width: 20px;
}

.ipe_cssedit {
	cursor:pointer;
	float:left;
 min-height: 20px;
 min-width: 20px;
}

.ipe_delete {
	cursor:pointer;
	float:left;
 min-height: 20px;
 min-width: 20px;
}

.ipe_targetgroups {
	cursor:pointer;
	float:left;
 min-height: 20px;
 min-width: 20px;
}

.ipe_move {
	cursor: move;
	float:left;
 min-height: 20px;
 min-width: 20px;
}

.ipe_repeater_toolbar {
	margin-top:3px;
	float:left;
	padding:0;
	clear:both;
	max-height:28px;
}

.ipe_addrepeater_item, .ipe_newrepeater_item {
 float:left;
}

.ipe_repeater{
	width:99.5%;
	min-height:50px;
 display: inline-block;
}

.ipe_repeater_item{
  min-height: 24px;
}

.ipe_repeater_item_hover{
 outline:2px dashed #3333FF;
}

.show_repeaterborder{
	border: 4px dashed #6600FF;
	margin:-1px;
	min-height: 100px;
}

.ui-button-text{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.1em;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 color: #2e6e9e;
}

