      <div class="spacerborder">
      <span class="Backlink"><a href="./browseautoimports.php">Zur&uuml;ck</a></span><br />
      <br />

      <form id="ImportForm" name="ImportForm" method="post" action="./autoimportedit.php">
      <input type="hidden" name="AutoImportId" />
      <input type="hidden" name="step" id="step" value="2" />
      <input type="hidden" name="Name" />
      <input type="hidden" name="ImportOption" id="ImportOption" />

      <fieldset>
      <legend>Feldzuordnung Datenbankfelder zu den zu importierenden Daten</legend>
      <br />
        <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
          <tbody>
             <tr>
              <td colspan="2">
                 Die Abfrage lieferte ein leeres Resultat oder war fehlerhaft, Tabellenfelder k&ouml;nnen nicht bestimmt werden.
              </td>
             </tr>
        </table>

      </fieldset>


      <input type="submit" name="PrevBtn" value="&lt; Zur&uuml;ck" class="FormButton" />

      </form>


      <script type="text/javascript">

       //AUTO_SCRIPT_CODE_PLACEHOLDER//

       /////////////////////////////////////////////////////////////////////


      	</script>

      </div>
