      <div class="spacerborder">
      <span class="Backlink"><a href="./browseautoimports.php">Zur&uuml;ck</a></span><br />
      <br />

      <form id="ImportForm" name="ImportForm" method="post" action="./autoimportedit.php">
      <input type="hidden" name="AutoImportId" />
      <input type="hidden" name="step" id="step" value="3" />

      <input type="hidden" name="Name" />

      <fieldset>
      <legend>Einstellungen f&uuml;r den automatischen Import vollst&auml;ndig</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
        	    <tr>
          	    <td>
                 <br />Die Einstellungen f&uuml;r den automatischen Import sind jetzt vollst&auml;ndig.
                 <br />
                 <br />
                 Wurde der automatische Import aktiviert und das CronJob-Script wird regelm&auml;ssig ausgef&uuml;hrt, dann wird der automatische Import
                 zum angegebenen Zeitpunkt regelm&auml;ssig ausgef&uuml;hrt.
                 <br />
          	    </td>
          	  </tr>
            </tbody>
          </table>
      </fieldset>

      <br />
      <input type="submit" name="DoneBtn" value="Weiteren automatischen Import anlegen" class="FormButton" />
      <br />
      <br />

      </form>


      <script type="text/javascript">
       <!--
       //AUTO_SCRIPT_CODE_PLACEHOLDER//

       /////////////////////////////////////////////////////////////////////

       //-->
      </script>

      </div>
