<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<title></title>

<meta http-equiv="content-language" content="de" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="author" content="Mirko Boeer" />
<meta name="copyright" content="Mirko Boeer" />

<link href="css/help.css" rel="stylesheet" type="text/css" />
<link href="css/tab-view.css" rel="stylesheet" type="text/css"  media="screen" />
<link href="css/modal-message.css" rel="stylesheet" type="text/css" />
<link href="css/default.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<script language="javascript" type="text/javascript" src="js/common.js"></script>
<script language="javascript" type="text/javascript" src="js/help.js"></script>
<script language="javascript" type="text/javascript" src="js/ajax.js"></script>
<script language="javascript" type="text/javascript" src="js/ajax-dynamic-content.js"></script>
<script language="javascript" type="text/javascript" src="js/tab-view.js"></script>
<script language="javascript" type="text/javascript" src="js/modal-message.js"></script>
<script language="javascript" type="text/javascript" src="js/messagebox.js"></script>
<script language="javascript" type="text/javascript" src="js/menu.js"></script>
<script language="javascript" type="text/javascript" src="js/table_highlighted.js"></script>

<script type="text/javascript"  src="js/jquery-latest.min.js"></script>

<style type="text/css">
<!--

body {
  min-width: 700px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
}

-->
</style>
</head>


<body>


<div class="topDialog">
	<div class="headerDialog">

      <div class="MenuTable">
        <LABEL:PAGETOPIC></LABEL:PAGETOPIC>
      </div>

	</div>
</div>


<div class="PageContainerDialog">

   <div class="container">
      <SHOWHIDE:ERRORTOPIC>
        <div class="errortopic">
        <LABEL:ERRORMESSAGETEXT></LABEL:ERRORMESSAGETEXT>
        </div>
      </SHOWHIDE:ERRORTOPIC>

      <HAS_SOURCEELEMENT>

      <ISIFRAME>
      <script language="JavaScript" type="text/javascript">
      <!--
        SourceElement = parent.document.getElementById("IFRAMENAME");
        IsFCK = false;
        IsIFrame = true;
        SourceURL = "ScriptBaseURL";
      //-->
      </script>
      </ISIFRAME>

      <ISNOTFCKEDITOR>
      <script language="JavaScript" type="text/javascript">
      <!--
        SourceElement = parent.document.forms['FORMNAME'].FORMFIELD;
        IsFCK = false;
        IsIFrame = false;
      //-->
      </script>
      </ISNOTFCKEDITOR>

      <ISFCKEDITOR>
      <script language="JavaScript" type="text/javascript">
      <!--
        var oEditor		= parent.CurrentFCKEditor;
        IsFCK = oEditor != undefined;
        IsIFrame = false;
      //-->
      </script>
      </ISFCKEDITOR>

      <script language="JavaScript" type="text/javascript">
      <!--
        function PasteText(aText) {
          var input = SourceElement;
          input.focus();
          /* für Internet Explorer */
          if(typeof parent.document.selection != 'undefined') {
            /* Einfügen des Formatierungscodes */
            var range = parent.document.selection.createRange();
            var insText = range.text;
            range.text = insText + aText;
            /* Anpassen der Cursorposition */
            range = parent.document.selection.createRange();
            if (insText.length == 0) {
              range.move('character', -aText.length);
            } else {
              range.moveStart('character', insText.length + aText.length);
            }
            range.select();
          }
          /* für neuere auf Gecko basierende Browser */
          else if(typeof input.selectionStart != 'undefined')
          {
            /* Einfügen des Formatierungscodes */
            var start = input.selectionStart;
            var end = input.selectionEnd;
            var insText = input.value.substring(start, end);
            input.value = input.value.substr(0, start) + insText + aText + input.value.substr(end);
            /* Anpassen der Cursorposition */
            var pos;
            if (insText.length == 0) {
              pos = start + aText.length;
            } else {
              pos = start + aText.length + insText.length;
            }
            input.selectionStart = pos;
            input.selectionEnd = pos;
          }
          /* für die übrigen Browser */
          else
          {
          }
        }

        function InsertValue(value) {
          value = value.replace(/0x10/g, "\n");
          value = value.replace(/0x13/g, "\r");
          value = value.replace(/0x022/g, '"');
          
          if(IsIFrame) {
            //SourceElement.onload=function() {_IPE();}
            SourceElement.src=SourceURL+"ipe_loadhtmltemplate.php?id=" + value;
          }
          else
          if(!IsFCK) {
              if(document.getElementById('ReplaceAll').checked)
                 SourceElement.value = value;
                 else
                 PasteText(value);
            }
            else
            oEditor.InsertHtml(value);
        }

      //-->
      </script>
      </HAS_SOURCEELEMENT>

      <form id="TemplateListsForm" name="TemplateListsForm" method="post" action="./htmltemplates.php">
      <input type="hidden" name="OneTemplateId" id="OneTemplateId" value="" />
      <input type="hidden" name="OneTemplateAction" id="OneTemplateAction" value="" />
      <input type="hidden" name="_FORMNAME" />
      <input type="hidden" name="_FORMFIELD" />
      <input type="hidden" name="_IsFCKEditor" />
      <input type="hidden" name="formIframeName" />
      <input type="hidden" name="wizardableonly" />

      <script language="javascript" type="text/javascript">
      <!--
        InsertSymbol = '<img src="images/paste.gif" width="16" height="16" />';
        
        function SetListId(ASender, AFormID) {
          var AForm = document.getElementById(AFormID);
          var OneTemplateAction = document.getElementById('OneTemplateAction');
          var OneTemplateId= document.getElementById('OneTemplateId');
          OneTemplateAction .value = ASender.name;
          OneTemplateId.value = ASender.value;
          return true;
        }
    
        function CheckboxClicked() {
         DisableItem('FunctionActions', GetCheckedCount('FunctionIDs[]', 'TemplateListsForm') > 0 );
         ShowItem('ListActionSubmitBtn', (document.getElementById('FunctionActions').selectedIndex != 0) && ( document.getElementById('FunctionActions').disabled == false ) ) ;
        }

        function ConfirmDeleteEvent(value) {
          if(value)
            document.getElementById('TemplateListsForm').submit();
            else {
              document.getElementById('OneTemplateAction').value = "";
              document.getElementById('OneTemplateId').value = "";
            }
        }
    


        function ConfirmListActionEvent(value) {
          if(value)
            document.getElementById('TemplateListsForm').submit();
        }


      //-->
      </script>

      <table class="FixedTable">
        <tbody>
          <tr>
            <td>
             <span style="float: right; margin-right: 0pt">&nbsp;</span>
            </td>
          </tr>
          <tr>
          <td><img src="images/blind.gif" alt="" height="4" class="normalimage" /></td>
          </tr>
        </tbody>
      </table>

      <table id="TableTemplatesLists" name="TableTemplatesLists" class="FixedTable">
      	<thead>
      		<tr>
      			<td class="NoWrapAlignCenter" width="2%">ID</td>
      			<td class="NoWrap" width="1%">&nbsp;</td>
      			<td class="NoWrap" width="width:auto;">Bezeichnung</td>
      			<td class="NoWrap" width="1%">&nbsp;</td>
      			<td class="NoWrapAlignRight" width="min-width:10%">Aktionen<SHOWHIDE:TOOLTIPS>
                                  <img onmouseover="showTooltip(event, 'Zur &Uuml;bernahme der Vorlage in den Text der E-Mail klicken Sie einfach auf das Symbol ' + InsertSymbol);return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" />
                                  </SHOWHIDE:TOOLTIPS></td>
      		</tr>
      	</thead>
      	<tbody>
        <LIST:ENTRY>
      		<tr>
      			<td class="NoWrapAlignRight"><LIST:ID></LIST:ID></td>
      			<td>&nbsp;</td>
      			<td><LIST:NAME></LIST:NAME></td>
      			<td>&nbsp;</td>
      			<td class="NoWrapAlignRight">
             <HAS_SOURCEELEMENT>
      			    &nbsp;&nbsp;
      			    <input type="image" src="images/paste.gif" width="16" height="16" name="ApplyTemplate" onclick="InsertValue(this.value); parent.closeDialog(); return false;" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'&Uuml;bernimmt den Text der Vorlage in die Nachricht.');return false" />&nbsp;
      			    </HAS_SOURCEELEMENT>
    		    </td>
      		</tr>
        </LIST:ENTRY>
      	</tbody>
      	</table>
    
   	  <table class="FixedTable">
   	  <thead></thead>
   	  <tbody></tbody>
    	<tfoot>
  		<tr>
  		  <td>
   		  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   		  <tr>
   		  <!--<td style="width:5%; white-space:nowrap; ">
         <input type="checkbox" name="ReplaceAll" id="ReplaceAll" value="C" checked="checked" />&nbsp;Aktuellen Inhalt ersetzen
   		  </td> -->
   		  <td style="width:20%; white-space:nowrap; ; text-align: left">
         &nbsp;
   		  </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
       			  <input type="image" width="16" height="16" name="TopBtn" id="TopBtn" value="Top" onclick="SetListId(this, 'TemplateListsForm');" src="images/arrow_left_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Anfang der Liste');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="PrevBtn" id="PrevBtn" value="Prev" onclick="SetListId(this, 'TemplateListsForm');" src="images/arrow_left.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Vorherige Seite');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="NextBtn" id="NextBtn" value="Next" onclick="SetListId(this, 'TemplateListsForm');" src="images/arrow_right.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'N&auml;chste Seite');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="EndBtn" id="EndBtn" value="End" onclick="SetListId(this, 'TemplateListsForm');" src="images/arrow_right_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Ende der Liste');return false" />&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  Seite:&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  <select name="PageSelected" id="PageSelected" size="1" style="min-width:30pt ! important;" onchange="document.TemplateListsForm.submit()">
                <OPTION:PAGES>
                <option>1</option>
                </OPTION:PAGES>
         			  </select>
        </td>
       	</tr>
       	</table>
  			</td>
  		</tr>

    
      	</tfoot>
      </table>

      <input type="button" name="CloseBtn" value="Schlie&szlig;en" class="FormButton" onclick="parent.closeDialog();" />

      </form>      

      <script type="text/javascript">
      <!--
        addTableRolloverEffect('TableTemplatesLists','tableRollOverEffect','tableRowClickEffect');
        //AUTO_SCRIPT_CODE_PLACEHOLDER//
      //-->
      </script>
   </div>


</div>


</body>

</html>

