<div class="spacerborder">
  <form name="EditBlockListMembersForm" id="EditBlockListMembersForm" method="post" action="./browseblmembers.php">

  <input type="hidden" name="Action" id="Action" />
  <input type="hidden" name="OneBlocklistAction" id="OneBlocklistAction" value="" />
  <input type="hidden" name="OneMemberId" id="OneMemberId" value="" />
  <input type="hidden" name="OneMailingListId" id="OneMailingListId" />

  <script language="javascript" type="text/javascript">
  <!--

    function SetListId(ASender, AFormID) {
      var AForm = document.getElementById(AFormID);
      var OneBlocklistAction = document.getElementById('OneBlocklistAction');
      var OneMemberId = document.getElementById('OneMemberId');
      OneBlocklistAction.value = ASender.name;
      OneMemberId.value = ASender.value;
      return true;
    }

    function CheckboxClicked() {
     DisableItem('BlocklistActions', GetCheckedCount('MemberIDs[]', 'EditBlockListMembersForm') > 0 );
     ShowItem('ListActionSubmitBtn', (document.getElementById('BlocklistActions').selectedIndex != 0) && ( document.getElementById('BlocklistActions').disabled == false ) ) ;
    }

    function ConfirmDeleteUserEvent(value) {
      if(value)
        $("#EditBlockListMembersForm").submit();
        else {
          document.getElementById('OneBlocklistAction').value = "";
          document.getElementById('OneMemberId').value = "";
        }

    }

    function ConfirmListActionEvent(value) {
      if(value)
        $("#EditBlockListMembersForm").submit();
    }

    function ConfirmListAction() {
      if(document.getElementById("BlocklistActions").selectedIndex == 1) {
        MessageBox('Best&auml;tigung', 'M&ouml;chten Sie wirklich <b>alle gew&auml;hlten</b> Eintr&auml;ge dauerhaft l&ouml;schen?', 3, 320, 120, 'ConfirmListActionEvent');
        return false;
      }
      return true;
    }

  //-->
  </script>

  <table class="FixedTable">
    <tbody>
      <tr>
        <td>
         <span style="float: right; margin-right: 0pt">
         <a class="Backlink" href="#" onclick="document.EditBlockListMembersForm.action='./blocklistmemberedit.php';document.EditBlockListMembersForm.submit(); return false;">Neuen Eintrag anlegen</a>&nbsp;
         <a class="Backlink" href="#" onclick="document.EditBlockListMembersForm.action='./blocklistmemberimport.php';document.EditBlockListMembersForm.submit(); return false;">Importieren</a>&nbsp;
         <a class="Backlink" href="#" onclick="document.EditBlockListMembersForm.action='./exportblocklist.php';document.EditBlockListMembersForm.submit(); return false;">Exportieren</a>&nbsp;
         </span>
         <p>
         <a href="javascript:void(0);" class="Backlink" onclick="ShowHideItem('ShowHideFilterBox')">Filter anzeigen / nicht anzeigen</a>
      			<div id="ShowHideFilterBox">
      			Suche nach:&nbsp;<input type="text" name="MembersSearchFor" size="32" />&nbsp;im Feld:&nbsp;
            <select size="1" name="Membersfieldname">
             <option value="SearchFor_id">ID</option>
             <option value="SearchFor_u_EMail">E-Mail</option>
             <option value="SearchFor_All">Alle Felder</option>
            </select>
      			<br /><br />
      			Sortiere Liste nach:&nbsp;
            <select size="1" name="Memberssortfieldname">
               <option value="SortEMail">E-Mail</option>
               <option value="Sortid">ID</option>
            </select>&nbsp;<select size="1" name="Memberssortorder"><option value="descending">absteigend</option><option value="ascending">aufsteigend</option></select>
      			<br />
         <br />
      			Zeige:&nbsp;<input type="text" name="MembersItemsPerPage" size="4" style="text-align:right" />&nbsp;Eintr&auml;ge&nbsp;pro&nbsp;Seite
      			<br />
         <br />
         <div style="float:right"><input type="submit" name="FilterApplyBtn" value="&Uuml;bernehmen" /></div>
         <input type="checkbox" name="MembersSaveFilter" value="true" id="MembersSaveFilter" /><label for="MembersSaveFilter">&nbsp;Filter zur n&auml;chsten Verwendung speichern</label>
         </div>
         </p>
        </td>
      </tr>
      <tr>
      <td><img src="images/blind.gif" alt="" height="4" class="normalimage" /></td>
      </tr>
    </tbody>
  </table>
  <script language="JavaScript">
  <!--
    ShowHideItem('ShowHideFilterBox');
  //-->
  </script>
  <table id="TableMembers" name="TableMembers" class="FixedTable">
  	<thead>
  		<tr>
  			<td class="NoWrap" width="1%"><input name="SelectAllChkBox" type="checkbox" onclick="CheckAllCheckboxes('SelectAllChkBox', 'MemberIDs[]', 'EditBlockListMembersForm'); CheckboxClicked();" /></td>
  			<td class="NoWrapAlignRight" width="5%">ID</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" style="width:80%;">E-Mail</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="min-width:10%">Aktionen</td>
  		</tr>
  	</thead>
  	<tbody>
    <LIST:ENTRY>
  		<tr>
  			<td><input name="MemberIDs[]" type="checkbox" onclick="CheckboxClicked()" /></td>
  			<td class="AlignRight"><LIST:ID></LIST:ID></td>
  			<td>&nbsp;</td>
  			<td><LIST:EMAIL></LIST:EMAIL></td>
  			<td>&nbsp;</td>
  			<td>
  			    <input type="image" src="images/edit.gif" width="16" height="16" name="EditMemberProperties" onclick="SetListId(this, 'EditBlockListMembersForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Erm&ouml;glicht das &Auml;ndern des Eintrags.');return false" />&nbsp;
         <CAN:DELETE>
         <input type="image" src="images/delete.gif" width="16" height="16" name="DeleteMember" onclick="SetListId(this, 'EditBlockListMembersForm'); MessageBox('Best&auml;tigung', 'M&ouml;chten Sie wirklich diesen Eintrag dauerhaft l&ouml;schen?', 3, 320, 120, 'ConfirmDeleteUserEvent'); return false;" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'L&ouml;scht den Eintrag dauerhaft.');return false" />
         </CAN:DELETE>
		    </td>
  		</tr>
    </LIST:ENTRY>
  	</tbody>
  	</table>

 	 <table class="FixedTable">
 	 <thead></thead>
 	 <tbody></tbody>
  	<tfoot>

  		<tr>
  		  <td>
   		  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   		  <tr>
   		  <td style="width:1%; white-space:nowrap; ">
     		  Selektierte:&nbsp;
   		  </td>
   		  <td style="width:70%; white-space:nowrap; text-align: left">
       		  <select name="BlocklistActions" id="BlocklistActions" size="1" onchange="ShowItem('ListActionSubmitBtn', (document.getElementById('BlocklistActions').selectedIndex != 0) && ( document.getElementById('BlocklistActions').disabled == false ) ) ;">
         		  <option value="doNothing">Aktion w&auml;hlen</option>
             <CAN:DELETE>
             <option value="RemoveMembers">L&ouml;scht die gew&auml;hlten Eintr&auml;ge</option>
             </CAN:DELETE>
       		  </select>
       		  <input type="submit" name="ListActionSubmitBtn" id="ListActionSubmitBtn" value="Ausf&uuml;hren" onclick="return ConfirmListAction()" />
   		  </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
       			  <input type="image" width="16" height="16" name="TopBtn" id="TopBtn" value="Top" onclick="SetListId(this, 'EditBlockListMembersForm');" src="images/arrow_left_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Anfang der Liste');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="PrevBtn" id="PrevBtn" value="Prev" onclick="SetListId(this, 'EditBlockListMembersForm');" src="images/arrow_left.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Vorherige Seite');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="NextBtn" id="NextBtn" value="Next" onclick="SetListId(this, 'EditBlockListMembersForm');" src="images/arrow_right.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'N&auml;chste Seite');return false" />&nbsp;
       			  <input type="image" width="16" height="16" name="EndBtn" id="EndBtn" value="End" onclick="SetListId(this, 'EditBlockListMembersForm');" src="images/arrow_right_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Ende der Liste');return false" />&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  Seite:&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  <select name="MembersPageSelected" id="MembersPageSelected" size="1" style="min-width:30pt ! important;" onchange="$('#EditBlockListMembersForm').submit();">
                <OPTION:PAGES>
                <option>1</option>
                </OPTION:PAGES>
         			  </select>
        </td>
       	</tr>
       	</table>
  			</td>
  		</tr>

  	</tfoot>
  </table>
  </form>
</div>
<script type="text/javascript">
<!--
  addTableRolloverEffect('TableMembers','tableRollOverEffect','tableRowClickEffect');
  AddTableDblClickEvent('TableMembers');
  CheckboxClicked();
  ShowItem('ListActionSubmitBtn', (document.getElementById('BlocklistActions').selectedIndex != 0) && ( document.getElementById('BlocklistActions').disabled == false ) ) ;
  DisableItem('BlocklistActions', GetCheckedCount('MemberIDs[]', 'EditBlockListMembersForm') > 0 );
  InsertLoadingStatusOnSubmit();
  //AUTO_SCRIPT_CODE_PLACEHOLDER//
//-->
</script>
