<div class="spacerborder">
  <form name="RSS2EMailrespondersListsForm" id="RSS2EMailrespondersListsForm" method="post" action="./browserss2emailresponders.php">
  <input type="hidden" name="OneRSS2EMailresponderListAction" id="OneRSS2EMailresponderListAction" value="" />
  <input type="hidden" name="OneRSS2EMailresponderListId" id="OneRSS2EMailresponderListId" value="" />

  <script language="javascript" type="text/javascript">
  <!--

    function SetListId(ASender, AFormID) {
      if(ASender.name == "SpamTest" || ASender.name == "TestMail") {
        ResponderPreviewOpenResponder("", "", "RSS2EMailResponder", ASender.value, "", ASender.name);
        return false;
      }

      var AForm = document.getElementById(AFormID);
      var OneRSS2EMailresponderListAction = document.getElementById('OneRSS2EMailresponderListAction');
      var OneRSS2EMailresponderListId = document.getElementById('OneRSS2EMailresponderListId');
      OneRSS2EMailresponderListAction.value = ASender.name;
      OneRSS2EMailresponderListId.value = ASender.value;
      
      return true;
    }

    function ConfirmDeleteEvent(value) {
      if(value)
        document.getElementById('RSS2EMailrespondersListsForm').submit();
        else {
          document.getElementById('OneRSS2EMailresponderListAction').value = "";
          document.getElementById('OneRSS2EMailresponderListId').value = "";
        }
    }

    function ConfirmListAction() {
      return true;
    }

  //-->
  </script>

  <table class="FixedTable">
    <tbody>
      <tr>
        <td>
         <span style="float: right; margin-right: 0pt"><a class="Backlink" href="./rss2emailresponderedit.php" name="NewRSS2EMailresponder" id="NewRSS2EMailresponder">Neuen RSS2EMail-Responder anlegen</a></span>
        </td>
      </tr>
      <tr>
      <td><img src="images/blind.gif" alt="" height="4" class="normalimage" /></td>
      </tr>
    </tbody>
  </table>

  <table id="TableRSS2EMailrespondersLists" name="TableRSS2EMailrespondersLists" class="FixedTable">
  	<thead>
  		<tr>
  			<td class="NoWrapAlignCenter" width="5%">ID</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="29%">Bezeichnung</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="16%">Empf&auml;ngerliste</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="10%">Aktiv</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="10%">RSS-Feed</td>
  			<td class="NoWrap" width="1%">&nbsp;</td>
  			<td class="NoWrap" width="25%">Aktionen</td>
  		</tr>
  	</thead>
  	<tbody>
    <LIST:ENTRY>
  		<tr>
  			<td class="NoWrapAlignRight"><LIST:ID></LIST:ID></td>
  			<td>&nbsp;</td>
  			<td><LIST:NAME></LIST:NAME></td>
  			<td>&nbsp;</td>
  			<td><LIST:MAILINGLISTNAME></LIST:MAILINGLISTNAME></td>
  			<td>&nbsp;</td>
  			<td><LIST:ACTIVE></LIST:ACTIVE></td>
  			<td>&nbsp;</td>
  			<td><a href="<LIST:RSSFEEDURL></LIST:RSSFEEDURL>" target="_blank"><img src="images/rss.gif" width="16" height="16" class="normalimage" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'<LIST:RSSFEEDURL></LIST:RSSFEEDURL>');return false" /></a></td>
  			<td>&nbsp;</td>
  			<td>
  			    <input type="image" src="images/edit.gif" width="16" height="16" name="EditRSS2EMailresponderProperties" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'&Auml;ndern des RSS2EMail-Responders');return false" />&nbsp;
         <CAN:DELETE>
  			    <input type="image" src="images/delete.gif" width="16" height="16" name="DeleteRSS2EMailresponder" onclick="SetListId(this, 'RSS2EMailrespondersListsForm'); MessageBox('Best&auml;tigung', 'M&ouml;chten Sie wirklich den RSS2EMail-Responder dauerhaft l&ouml;schen?', 3, 320, 130, 'ConfirmDeleteEvent'); return false;" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'L&ouml;scht den RSS2EMail-Responder dauerhaft.');return false" />
         </CAN:DELETE>
  			    <input type="image" src="images/spamtest16.gif" width="16" height="16" name="SpamTest" onclick="return SetListId(this, 'RSS2EMailrespondersListsForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Spam-Test durchf&uuml;hren, ohne RSS-Feed-Eintr&auml;ge');return false" />&nbsp;
  			    <input type="image" src="images/mail_send_test.gif" width="16" height="16" name="TestMail" onclick="return SetListId(this, 'RSS2EMailrespondersListsForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Test-E-Mail versenden, ohne RSS-Feed-Eintr&auml;ge');return false" />&nbsp;
  			    <input type="image" src="images/sentmails16.gif" width="16" height="16" name="RSS2EMailrespondersSendLog" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Versandprotokoll des RSS2EMail-Responders');return false" />&nbsp;
  			    <input type="image" src="images/statistics.gif" width="16" height="16" name="RespondersTrackingStat" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" alt="" style="cursor:pointer;" class="normalimage" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Tracking-Statistik des RSS2EMail-Responders');return false" />&nbsp;
		    </td>
  		</tr>
    </LIST:ENTRY>
  	</tbody>
  </table>

  <table class="FixedTable">
  	<thead>
  	</thead>
  	<tbody>
  	</tbody>
  	<tfoot>

  		<tr>
  		  <td colspan="9">
    		  <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    		  <tr>
    		  <td style="width:100%; white-space:nowrap;">
        		  &nbsp;
    		  </td>
     			<td style="text-align:right; width:1%; white-space:nowrap; ">
         			  <input type="image" width="16" height="16" name="TopBtn" id="TopBtn" value="Top" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" src="images/arrow_left_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Anfang der Liste');return false" />&nbsp;
         			  <input type="image" width="16" height="16" name="PrevBtn" id="PrevBtn" value="Prev" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" src="images/arrow_left.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Vorherige Seite');return false" />&nbsp;
         			  <input type="image" width="16" height="16" name="NextBtn" id="NextBtn" value="Next" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" src="images/arrow_right.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'N&auml;chste Seite');return false" />&nbsp;
         			  <input type="image" width="16" height="16" name="EndBtn" id="EndBtn" value="End" onclick="SetListId(this, 'RSS2EMailrespondersListsForm');" src="images/arrow_right_end.gif" style="vertical-align:bottom; cursor: pointer;" alt="" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'Ende der Liste');return false" />&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  Seite:&nbsp;
        </td>
        <td style="text-align:right; width:1%; white-space:nowrap; ">
         			  <select name="PageSelected" id="PageSelected" size="1" style="min-width:30pt ! important;" onchange="document.RSS2EMailrespondersListsForm.submit()">
                <OPTION:PAGES>
                <option>1</option>
                </OPTION:PAGES>
         			  </select>
        </td>
       	</tr>
       	</table>
  			</td>
  		</tr>

  	</tfoot>
  </table>
  </form>
</div>
<script type="text/javascript">
<!--
  addTableRolloverEffect('TableRSS2EMailrespondersLists','tableRollOverEffect','tableRowClickEffect');
  AddTableDblClickEvent('TableRSS2EMailrespondersLists');
  //AUTO_SCRIPT_CODE_PLACEHOLDER//
//-->
</script>
