      <fieldset>
      <legend>Es ist ein Fehler aufgetreten</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2"><b>Fehler:</b>&nbsp;<TEXT:ERROR></TEXT:ERROR><br /><br />
                </td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />

