<!DOCTYPE html>
<html>
<head>

<title>&Auml;ndern der Newsletteranmeldung</title>

<meta http-equiv="content-language" content="de" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="css/default.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<style type="text/css">
<!--

body {
  min-width: 700px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
}

.FormTable td.SubscribeColumn {width: 30%;}
.FormTable td.PrivacyPolicyTD {text-align: justify;}
.FormTable td.UnsubscribeColumn{text-align: right;}

@media only screen and (max-width: 720px) {
   body {
     min-width: 99%;
     margin: 0px;
   }
   .PageContainerDialog, .container, .containerDialog {width: 100%; margin:0px; padding: 0px; border: 0px}
   table, tbody, td {display: block}
   .FormTable td.SubscribeColumn {padding-bottom: 2px; padding-top: 5px; width: auto;}
   .FormTable td.SubscribeBtnTD, .FormTable td.SubscribeAction, .FormTable.PrivacyPolicyTD {padding-top: 20px}
   input[type=text]{
     width: 98%;
   }
   .FormTable td.UnsubscribeColumn{text-align: inherit;}
}

-->
</style>
</head>


<body>

<div class="PageContainerDialog">

   <div class="container">

    	<div class="containerDialog">

          <div class="MenuTable">
          &Auml;ndern der Newsletteranmeldung
          </div>

    	</div>

      <SHOWHIDE:ERRORTOPIC>
        <div class="errortopic">
        <LABEL:ERRORMESSAGETEXT></LABEL:ERRORMESSAGETEXT>
        </div>
      </SHOWHIDE:ERRORTOPIC>

      <form id="EditForm" name="EditForm" method="post" action="./defaultnewsletter.php">
        <input type="hidden" name="MailingListId" />
        <input type="hidden" name="FormId" />
        <input type="hidden" name="key" />
        <input type="hidden" name="HTMLForm" />
        <input type="hidden" name="Action" id="Action" />

        <fieldset>
        <br />
            <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <TABLE:ROW>
                <tr>
                  <td class="SubscribeColumn"><!--FIELDNAME//-->
                  </td>
                  <td><!--INPUTFIELD//--></td>
                </tr>
                </TABLE:ROW>

                <TABLE:ROW_NEW_EMAILADDRESS>
                <tr>
                  <td class="SubscribeColumn"><label for="NewEMail">Neue E-Mail-Adresse&nbsp;</label>
                  </td>
                  <td><input type="text" name="NewEMail" size="50" id="NewEMail" /></td>
                </tr>
                </TABLE:ROW_NEW_EMAILADDRESS>

                <TABLE:GENDER>
                <tr>
                  <td class="SubscribeColumn">
                    Geschlecht
                  </td>
                  <td>
                     <input type="radio" name="u_Gender" value="m" checked="checked" id="u_Gender1" />&nbsp;<label for="u_Gender1">m&auml;nnlich</label>
                     <br />
                     <input type="radio" name="u_Gender" value="w" id="u_Gender2" />&nbsp;<label for="u_Gender2">weiblich</label>
                     <br />
                     <input type="radio" name="u_Gender" value="d" id="u_Gender3" />&nbsp;<label for="u_Gender3">divers</label>
                  </td>
                </tr>
                </TABLE:GENDER>

                <TABLE:TITLE>
                <tr>
                  <td class="SubscribeColumn">
                    <label for="u_Salutation">Anrede</label>&nbsp;*
                  </td>
                  <td>
                    <select name="u_Salutation" size="1" style="max-width: 420px;" id="u_Salutation">
                      <option>---</option>
                      <option value="Herr">Herr</option>
                      <option value="Frau">Frau</option>
                      <option value="Firma">Firma</option>
                    </select>
                  </td>
                </tr>
                </TABLE:TITLE>

                <TABLE:USERBOOL>
                <tr>
                  <td class="SubscribeColumn">
                     &nbsp;
                  </td>
                  <td>
                   <input type="checkbox" name="u_UserFieldBool" value="1" id="u_UserFieldBool" />&nbsp;<label for="u_UserFieldBool"><DESCRIPTION></DESCRIPTION></label>
                  </td>
                </tr>
                </TABLE:USERBOOL>

                <TABLE:PERSONALIZEDTRACKING>
                <tr>
                  <td class="SubscribeColumn">
                   <label for="u_PersonalizedTracking"><DESCRIPTION></DESCRIPTION></label>&nbsp;*
                  </td>
                  <td>
                   <select name="u_PersonalizedTracking" id="u_PersonalizedTracking" size="1">
                     <option value="0">Nein</option>
                     <option value="1">Ja</option>
                   </select>
                  </td>
                </tr>
                </TABLE:PERSONALIZEDTRACKING>

                <TABLE:GROUPS>
                <tr>
                  <td colspan="2" class="SubscribeAction">
                    &nbsp;<br />
                  </td>
                </tr>
                <tr>
                  <td class="SubscribeColumn">
                    <GroupsDescriptionLabel></GroupsDescriptionLabel>
                    <span style="font-size: 8pt;">(Strg/Umsch k&ouml;nnen mehrere Eintr&auml;ge gew&auml;hlt werden)</span>
                  </td>
                  <td>
                    <select name="RecipientGroups[]" size="5" multiple="multiple" style="max-width: 420px; width: 420px;">
                    <option></option>
                    </select>
                  </td>
                </tr>
                </TABLE:GROUPS>

                <TABLE:GROUPSCHECKBOXES>
                <tr>
                  <td colspan="2" class="SubscribeAction">
                    &nbsp;<br />
                  </td>
                </tr>
                <tr>
                  <td class="SubscribeColumn">
                    <GroupsDescriptionLabel></GroupsDescriptionLabel>
                  </td>
                  <td>
                    <checkbox></checkbox>
                  </td>
                </tr>
                </TABLE:GROUPSCHECKBOXES>

                <tr>
                  <td colspan="2">
                    &nbsp;<br />
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <hr noshade="noshade" style="width: 100%; border:dotted #BABABA 1px; " />
                  </td>
                </tr>

                <TABLE:EMAILFORMAT>
                <tr>
                  <td class="SubscribeColumn">
                    <label for="u_EMailFormat">Gew&uuml;nschtes E-Mail-Format</label>
                  </td>
                  <td>
                    <select name="u_EMailFormat" size="1" id="u_EMailFormat">
                    <option value="HTML">HTML</option>
                    <option value="PlainText">Nur Text</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr noshade="noshade" style="width: 100%; border:dotted #BABABA 1px; " />
                  </td>
                </tr>
                </TABLE:EMAILFORMAT>


                <TABLE:CAPTCHA>
                <tr>
                  <td class="SubscribeColumn" style="vertical-align:top">
                    <CAPTCHA:TEXT></CAPTCHA:TEXT><br />
                  </td>
                  <td>
                    <CAPTCHA:INTERNAL>
                    <input type="text" name="user_captcha_string" /><br /><br />
                    <img src="./captcha/require/image.php?" />
                    </CAPTCHA:INTERNAL>
                  </td>
                </tr>
                </TABLE:CAPTCHA>

                <if:PrivacyPolicyURL>
                <tr>
                  <td colspan="2" class="PrivacyPolicyTD">
                    <span class="PrivacyPolicy" id="PrivacyPolicy">
                      <PrivacyPolicyURLText></PrivacyPolicyURLText>
                    </span>
                  </td>
                </tr>
                </if:PrivacyPolicyURL>

                <tr>
                  <td class="SubscribeColumn">
                    <input type="submit" value="&Auml;nderungen speichern" />
                  </td>
                  <td class="UnsubscribeColumn">
                    <IF:UNSUBSCRIBE_ALLOWED>
                    <input type="submit" value="Vom Newsletter komplett abmelden" onclick="document.getElementById('Action').value='unsubscribe';" />
                    </IF:UNSUBSCRIBE_ALLOWED>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    &nbsp;<br />
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    Angaben mit * sind Pflichtangaben.
                  </td>
                </tr>

              </tbody>
            </table>
        </fieldset>

      </form>


     <div class="footer">
         <div style="float: right">
       		powered&nbsp;by&nbsp;<a href="PRODUCTURL" target="_blank">PRODUCTAPPNAME&nbsp;</a>
       		</div><br />
     </div>

   </div>


</div>


</body>

</html>