      <form id="ExportForm" name="ExportForm" method="post" action="./exportrecipients.php">
      <input type="hidden" name="OneMailingListId" id="OneMailingListId" />
      <input type="hidden" name="MailingListName" id="MailingListName" />
      <input type="hidden" name="step" id="step" value="4" />
      <input type="hidden" name="Separator" />
      <input type="hidden" name="Header1Line" />
      <input type="hidden" name="AddQuotes" />
      <input type="hidden" name="ExportLines" />
      <input type="hidden" name="OnlyActiveRecipients" />
      <input type="hidden" name="GroupsOption" />
      <input type="hidden" name="groups" />


      <HIDDEN:FIELDS></HIDDEN:FIELDS>

      <span class="Backlink"><br /><a href="./exportrecipients.php">Zur&uuml;ck</a></span>
      <fieldset>
      <legend>Einstellungen vollst&auml;ndig</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
        	    <tr>
        	    <td>
        	    Die Einstellungen f&uuml;r den Export sind jetzt vollst&auml;ndig.<br /><br />
             Klicken Sie auf "Export durchf&uuml;hren" um den Export-Vorgang zu beginnen.
             <br /><br />
             <b>Warnung:</b> Der Exportvorgang kann nicht abgebrochen werden.
             <br /><br />
        	    </td>
          	  </tr>
             </TABLE:ROW>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="DoBtn" value="Export durchf&uuml;hren" class="FormButton" />

      </form>
