      <form id="ExportForm" name="ExportForm" method="post" action="./browsercpts.php">
      <input type="hidden" name="OneMailingListId" id="OneMailingListId" />
      <input type="hidden" name="MailingListName" id="MailingListName" />
      <input type="hidden" name="step" id="step" value="6" />

      <fieldset>
      <legend>Export abgeschlossen</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
        	    <tr>
          	    <td colspan="2">
                 Die Export-Datei wurde vom Server gel&ouml;scht, insofern die Dateirechte dies erlaubt haben.
                 <p>&nbsp;</p>
          	    </td>
          	  </tr>
        	    <tr>
          	    <td style="width: 10%">
                 Fehler:&nbsp;
          	    </td>
          	    <td style="width: 90%">
          	      [ERRORTEXT]
          	    </td>
          	  </tr>
            </tbody>
          </table>
      </fieldset>

      </form>
