      <form id="ExportForm" name="ExportForm" method="post" action="./exportrecipients.php">
      <input type="hidden" name="OneMailingListId" id="OneMailingListId" />
      <input type="hidden" name="step" id="step" value="1" />

      <span class="Backlink"><br /><a href="./exportrecipients.php">Zur&uuml;ck</a></span>
      <fieldset>
      <legend>Export von Empf&auml;ngern</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                Die Empf&auml;nger der Empf&auml;ngerliste werden als Textdatei (CSV-Datei / Text mit Trennzeichen) exportiert.
                Die Datei k&ouml;nnen Sie nach Abschluss des Exports direkt downloaden oder per FTP aus dem Verzeichnis<br />
				            /userfiles/export laden.<br /><br />
                Klicken Sie auf "Weiter" um die Empf&auml;nger exportieren zu lassen.<br /><br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>      
      
