      <div class="spacerborder">
        <span class="Backlink"></span>
        <form method="post" id="FUMailListSelectForm" name="FUMailListSelectForm" action="./stat_respondertracking.php">
          <input type="hidden" name="action" />
          <input type="hidden" name="ResponderType" />
          <input type="hidden" name="ResponderId" />

          <fieldset>
          <legend>Follow-Up-E-Mail des Follow-Up-Responders '<ResponderName></ResponderName>' w&auml;hlen</legend>
          <br />
          <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                Bitte w&auml;hlen Sie die auszuwertende Follow-Up-E-Mail.<br /><br />
                </td>
              </tr>
              <tr>
                <td class="LabelColumn">Follow-Up-E-Mail:
                </td>
                <td><select name="FUMailId" size="1">
                    <SHOW:FUMAILS>
                    </SHOW:FUMAILS>
                    </select>
                    <br /><br />
                </td>
              </tr>
              <tr>
                <td class="LabelColumn">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                <input type="submit" name="NextBtn" value="Weiter" class="FormButton" />
                </td>
              </tr>
            </tbody>
          </table>
          </fieldset>
          <br style="clear:both;" />
        </form> 
      </div>

