      <form id="InstallForm" name="InstallForm" method="post" action="./install.php">
      <input type="hidden" name="step" value="999999" />
      <input type="hidden" name="RegName" />
      <input type="hidden" name="RegNumber" /></td>
      <fieldset>
      <legend>PRODUCTAPPNAME - Manuelle Produktregistrierung</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <td>
                  Klicken Sie auf den Link
                  <br />
              				<br />
              				<a href="[ManualURL]" target="_blank">
              				[ManualURL]</a><br />
              				<br />
              				um die manuelle Produktregistrierung durchzuf&uuml;hren (Verbindung zum
              				Internet notwendig).<br />
              				<br />
              				Geben Sie in das nachfolgende Feld den Verifizierungscode ein und klicken Sie
              				anschlie&szlig;end auf &quot;Weiter&quot;.<br />
              				<br />
              				Verifizierungscode:<br />
              				<input type="text" name="ver_code" size="50" />
                  <br />
              				<br />
                </td>
            </tbody>
          </table>
      </fieldset>
      <input type="submit" name="BackBtn" value="&lt Zur&uuml;ck" class="FormButton" />
      &nbsp;<input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>
