      <form id="InstallForm" name="InstallForm" method="post" action="./install.php">
      <input type="hidden" name="step" value="10" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>PRODUCTAPPNAME - Abschluss der Installation</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            	<tr>
                <td>
                Die Installation von PRODUCTAPPNAME wurde damit abgeschlossen.
                <br />
                <br />
                </td>
            	</tr>
            	<tr>
                <td>
                Klicken Sie auf nachfolgenden Link um PRODUCTAPPNAME zum ersten Mal auszuf&uuml;hren
                <br />
                <a href="START_LINK">START_LINK</a>
                <br />
                <br />
                <br />
                Nutzen Sie zur Anmeldung bei PRODUCTAPPNAME den Nutzernamen <b><adminuser></b>.
                </td>
            	</tr>

            </tbody>
          </table>
      </fieldset>
      </form>
