      <form id="InstallForm" name="InstallForm" method="post" action="./install.php">
      <input type="hidden" name="step" value="1" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>Installation - PRODUCTAPPNAME</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>
                <h2>Vielen Dank, dass Sie sich f&uuml;r PRODUCTAPPNAME entschieden haben.</h2>
             			<br />
            				</b><br />
                </td>
              </tr>
              <tr>
                <td>
                  Klicken Sie auf &quot;Weiter&quot; um mit Eingabe der notwendigen Daten f&uuml;r die automatische Installation fortzufahren.<br />
             					<br />
             					<br />Hinweis:<br />
             					Sollten Sie Probleme bei der Eingabe bestimmter Werte haben,
             					dann halten Sie den Mauscursor auf das Zeichen&nbsp;<img onmouseover="showTooltip(event, 'Das Hilfe-Symbol gibt weitere Informationen zum erwarteten Eingabewert.');return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" /> um
             					weitere Informationen zur Angabe des jeweiligen Wertes zu erhalten.
             					<br />
             					<br />
                   
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>
      
