      <form method="post" action="./index.php">
      <fieldset>
      <legend>Abmeldung</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2"><b>Auf Wiedersehen</b><br /><br />Sie wurden erfolgreich abgemeldet.<br /><br /></td>
              </tr>
              <tr>
                <td colspan="2"><a href="./">Zur Anmeldeseite</a></td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />
      </form>

