      <form id="InstallForm" name="InstallForm" method="post" action="./install_done.php">
      <input type="hidden" name="step" value="9" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>PRODUCTAPPNAME - Abschluss des Upgrades</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            	<tr>
                <td>
                Das Upgrade wurde damit abgeschlossen.
                <br />
                <br />
                </td>
            	</tr>
            	<tr>
                <td>
                Klicken Sie auf nachfolgenden Link um PRODUCTAPPNAME auszuf&uuml;hren
                <br />
                <a href="START_LINK">START_LINK</a>
                <br />
                <br />
                </td>
            	</tr>

            </tbody>
          </table>
      </fieldset>

      <!-- <input type="submit" name="BackBtn" value="&lt Zur&uuml;ck" class="FormButton" /> no back
      &nbsp;<input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />            //-->
      </form>
