      <form id="InstallForm" name="InstallForm" method="post" action="./install.php">
      <input type="hidden" name="step" value="1" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>Lizenz-Upgrade - PRODUCTAPPNAME</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>
                <h2>Vielen Dank, dass Sie sich f&uuml;r ein Lizenz-Upgrade entschieden haben.</h2>
             			<br />
            				</b><br />
                </td>
              </tr>
              <tr>
                <td>
                  Klicken Sie auf &quot;Weiter&quot; um den neuen Freischaltcode einzugeben.<br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>
      
