      <form id="MLRemoveRecipientsForm" name="MLRemoveRecipientsForm" method="post" action="./ml_remove_recipients_by_blocklists.php">
      <input type="hidden" name="OneMailingListId" id="OneMailingListId" />
      <input type="hidden" name="step" id="step" value="1" />

      <span class="Backlink"><br /><a href="./ml_remove_recipients_by_blocklists.php">Zur&uuml;ck</a></span>
      <fieldset>
      <legend>Empf&auml;nger anhand der Blocklisten aus Empf&auml;ngerliste entfernen</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                Dies erm&ouml;glicht das <b>endg&uuml;ltige</b> Entfernen von Empf&auml;ngern anhand von Eintr&auml;gen in der lokalen und globalen (Domain-) Blockliste.
                Optional k&ouml;nnen ebenfalls Empf&auml;nger gel&ouml;scht werden, die sich in der ECG-Liste (nur f&uuml;r &Ouml;sterreich) befinden.
                <br />
                <br />
                Hinweise:
                <ul>
                 <li>Je nach Anzahl Empf&auml;ngern in den Blocklisten und der Empf&auml;ngerliste kann dies eine gewisse Zeit in Anspruch nehmen.</li>
                 <li>Die gel&ouml;schten Empf&auml;nger k&ouml;nnen <b>nicht</b> gespeichert oder wiederhergestellt werden.</li>
                </ul>
                <br /><br />
                Klicken Sie auf "Weiter" um weitere Einstellungen f&uuml;r das Entfernen der Empf&auml;nger festzulegen und danach die Empf&auml;nger l&ouml;schen zu lassen.<br /><br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>      
      
