      <fieldset>
      <legend>Zugangsdaten anfordern</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">Es wurde ein Link zur Zusendung der Zugangsdaten an die E-Mail-Adresse &quot;<!--TARGET_EMAIL//-->&quot; gesendet.</td>
              </tr>
              <tr>
                <td colspan="2"><br /><br /><a href="./">Zur&uuml;ck zur Anmelde-Seite</a></td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />


