      <fieldset>
      <legend><SHOWHIDE:TOOLTIPS>
                  <img onmouseover="showTooltip(event, 'Die Sitzung ist abgelaufen, weil entweder zu lange mit diesem Produkt nicht gearbeitet oder der Server neugestartet wurde. Alternativ k&ouml;nnte Ihr Browser etwaige Cookies nicht akzeptieren.');return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" />
                  </SHOWHIDE:TOOLTIPS>Sitzung abgelaufen / Session expired</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2"><b>Ihre Sitzung ist abgelaufen.</b><br /><br />Bitte melden Sie sich erneut an.<br /><br /></td>
              </tr>
              <tr>
                <td colspan="2"><a href="./index.php">Zur Anmeldeseite</a></td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />

