
      <div class="spacerborder">
        <form method="post" id="SettingsForm" name="Settings" action="./settings_branding.php">
          <span class="Backlink">&nbsp;</span>
          <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>

                      <fieldset>
                      <legend><SHOWHIDE:TOOLTIPS>
                                  <img onmouseover="showTooltip(event, 'Geben die vollst&auml;ndige URL zu einer Grafikdatei an. Die Datei sollte eine Gr&ouml;&szlig;e von 173x89 Pixeln nicht &uuml;berschreiten.<br /><br />Lassen Sie das Feld leer, um das Standardbild darstellen zu lassen.');return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" />
                                  </SHOWHIDE:TOOLTIPS>Firmenlogo festlegen</legend>
                      <br />
                          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td class="MessageDescriptionColumn">URL / http://-Aufruf der Grafikdatei
                                </td>
                                <td>
                                  <input type="text" name="ProductLogoURL" size="64" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </fieldset>

                  <br />
                  <br />

                </td>
              </tr>

              <tr>
                <td>
                <input type="submit" name="SaveBtn" value="&Auml;nderungen speichern" class="FormButton" />
                </td>
              </tr>

            </tbody>
          </table>
          <br style="clear:both;" />
        </form>
      </div>
