      <div class="spacerborder">
        <form method="post" id="SettingsForm" name="Settings" action="./settings_db.php">
          <span class="Backlink">&nbsp;</span>
          <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>

                      <fieldset>
                      <legend><SHOWHIDE:TOOLTIPS>
                                  <img onmouseover="showTooltip(event, 'Durch die Optimierung der Tabellen in der Datenbank wird Speicherplatz freigegeben, falls viele Datens&auml;tze gel&ouml;scht wurden sind.<br />Das Reparieren von Tabellen kann verwendet werden, falls sich Fehler in den Tabellen befinden.');return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" />
                                  </SHOWHIDE:TOOLTIPS>Tabellen der Datenbank optimieren / reparieren</legend>
                      <br />
                          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <input name="OptimizeTablesBtn" type="submit" value="Optimiere Tabellen" />
                                </td>
                                <td>
                                  <input name="RepairTablesBtn" type="submit" value="Repariere Tabellen" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </fieldset>

                  <br />
                  <br />

                </td>
              </tr>


            </tbody>
          </table>
          <br style="clear:both;" />
        </form>
      </div>
