      <form id="CampaignEditForm" name="CampaignEditForm" method="post" action="./smscampaignedit.php">
      <span class="Backlink"><br /><a href="./browsesmscampaigns.php" onclick="document.CampaignEditForm.action='./browsesmscampaigns.php';document.CampaignEditForm.submit(); return false;">Zur&uuml;ck</a></span><br />
      <input type="hidden" name="PageSelected" />
      <input type="hidden" name="EditPage" value="1" />
      <input type="hidden" name="CampaignListId" id="CampaignListId" />
      <input type="hidden" name="SetupLevel" id="SetupLevel" value="8" />
      <input type="hidden" name="MailingListId" id="MailingListId" />
      <input type="hidden" name="FormId" id="FormId" />

      <if:SetupComplete>
      <input type="hidden" name="SetupComplete" id="SetupComplete" value="1" />
      <div class="spacerborder">
      <table class="FormTable" cellspacing="2" cellpadding="0" border="0">
         <tbody>
           <tr>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='1';document.CampaignEditForm.submit(); return false;">Empf&auml;ngerliste</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='2';document.CampaignEditForm.submit(); return false;">Gruppen</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='3';document.CampaignEditForm.submit(); return false;">Regeln</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='4';document.CampaignEditForm.submit(); return false;">Report/Planung</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='5';document.CampaignEditForm.submit(); return false;">Versand</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='6';document.CampaignEditForm.submit(); return false;">SMS-Inhalt</a></td>
             <td class="highlighted"><a href="#" onclick="document.getElementById('SetupLevel').value='8';document.CampaignEditForm.submit(); return false;">Zusammenfassung</a></td>
          </tr>
        </tbody>
      </table>
      </div>
      </if:SetupComplete>

      <fieldset>
      <legend>Zusammenfassung der Einstellungen</legend>
      <br />
          <table name="TableCampaignSettings" id="TableCampaignSettings" class="FixedTable" style="border: 0px">
            <tbody>
              <tr>
                <td class="CampaignStatColumn">Name der SMS-Kampagne
                </td>
                <td class="CampaignStatValueColumn"><Name></Name></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Beschreibung
                </td>
                <td class="CampaignStatValueColumn"><Description></Description></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Zuletzt versendet
                </td>
                <td class="CampaignStatValueColumn"><LastSent></LastSent></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Empf&auml;ngerliste
                </td>
                <td class="CampaignStatValueColumn"><MailingListName></MailingListName></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Gruppen der Empf&auml;ngerliste
                </td>
                <td class="CampaignStatValueColumn"><MailingListGroupNames></MailingListGroupNames></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Auszuschlie&szlig;ende Gruppen der Empf&auml;ngerliste
                </td>
                <td class="CampaignStatValueColumn"><MailingListNoGroupNames></MailingListNoGroupNames></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Regeln f&uuml;r den SMS-Versand definiert
                </td>
                <td class="CampaignStatValueColumn"><RulesDefined></RulesDefined></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Anzahl SMS-Empf&auml;nger ca.
                </td>
                <td class="CampaignStatValueColumn"><RECIPIENTSCOUNT></RECIPIENTSCOUNT></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Statusreport an Ihre E-Mail-Adresse [EMAILADDRESS] senden
                </td>
                <td class="CampaignStatValueColumn"><SendReportToYourSelf></SendReportToYourSelf></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Statusreport an den Administrator der Empf&auml;ngerliste senden
                </td>
                <td class="CampaignStatValueColumn"><SendReportToListAdmin></SendReportToListAdmin></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Statusreport an alle zugewiesenen Nutzer der Empf&auml;ngerliste senden
                </td>
                <td class="CampaignStatValueColumn"><SendReportToMailingListUsers></SendReportToMailingListUsers></td>
              </tr>
              <tr>
                <td class="CampaignStatColumn">Statusreport an angegebene E-Mail-Adresse senden
                </td>
                <td class="CampaignStatValueColumn"><SendReportToEMailAddress></SendReportToEMailAddress></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Versand der SMS-Kampagne
                </td>
                <td class="CampaignStatValueColumn">
                    <SendSchedulerSaveOnly>SMS-Kampagne nur speichern</SendSchedulerSaveOnly>
                    <SendSchedulerSendManually>SMS-Kampagne nach dem Klick auf &quot;Fertig stellen&quot; live im Browser versenden</SendSchedulerSendManually>
                    <SendSchedulerSendImmediately>SMS-Kampagne nach dem Klick auf &quot;Fertig stellen&quot; sofort versenden</SendSchedulerSendImmediately>
                    <SendSchedulerSendInFutureOnce>SMS-Kampagne zu einem sp&auml;teren Zeitpunkt am [SENDDATETIME] versenden</SendSchedulerSendInFutureOnce>
                    <SendSchedulerSendInFutureMultiple>SMS-Kampagne laut definierten Zeitplan mehrfach versenden</SendSchedulerSendInFutureMultiple>
                </td>
              </tr>


              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Versandvariante der SMS
                </td>
                <td class="CampaignStatValueColumn">

                 <SMSType1>ohne Absender-Handynummer</SMSType1>
                 <SMSType2>ohne Absender-Handynummer mit Antwort-Option</SMSType2>
                 <SMSType3>mit Absender</SMSType3>
                 <SMSType4>&quot;LowCost&quot;-SMS ohne eigener Absender-Kennung</SMSType4>
                 <SMSType5>SMS mit Statusbericht (nur Deutschland)</SMSType5>
                 <SMSType6>Verkettete &quot;Maxi&quot;-SMS mit eigenem Absender mit bis zu 1560 Zeichen (nur D, A, CH)</SMSType6>

                </td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">SMS-Text definiert
                </td>
                <td class="CampaignStatValueColumn"><SMSTextDefined></SMSTextDefined></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Anzahl Zeichen pro SMS ohne Ber&uuml;cksichtigung von Platzhaltern
                </td>
                <td class="CampaignStatValueColumn"><SMSTextLength></SMSTextLength></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">Anzahl SMS pro Empf&auml;nger ohne Ber&uuml;cksichtigung von Platzhaltern
                </td>
                <td class="CampaignStatValueColumn"><SMSCount></SMSCount></td>
              </tr>

              <tr>
                <td class="CampaignStatColumn">&nbsp;
                </td>
                <td class="CampaignStatValueColumn">&nbsp;</td>
              </tr>




            </tbody>
          </table>
      </fieldset>

      <fieldset>
      <legend>Optionen f&uuml;r die SMS-Kampagne</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="CampaignStatColumn">
                  <input type="button" name="SerialMailPreviewBtn" value="Serien-SMS-Vorschau &ouml;ffnen" class="FormButton" style="width: 290px" onclick="DoShowSerialMailPreviewDialog(); return false;" />
                  <br />
                  <br />
                </td>
                <td class="CampaignStatColumn">
                  <input type="button" name="SendTestEMailBtn" value="Test-SMS versenden" class="FormButton" style="width: 290px" onclick="DoShowTestMailDialog(); return false;" />
                  <br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <if:AlwaysSent>
        <p><img src="images/icon_warning.gif" align="left" width="24" height="24" alt="" />Hinweis: Die SMS-Kampagne wurde zuletzt am <LastSent></LastSent> Uhr versendet.
           <if:SendImmediately>Durch einen Klick auf &quot;Fertig stellen&quot; wird die SMS-Kampagne nochmals versendet.</if:SendImmediately>
           <if:SendManually>Durch einen Klick auf &quot;Fertig stellen&quot; kann die SMS-Kampagne nochmals versendet werden.</if:SendManually>
        </p><br />
      </if:AlwaysSent>

      <input type="submit" name="PrevBtn" value="&lt; Zur&uuml;ck" class="FormButton" />

      <if:CanApplyNow>
      <input type="submit" name="NextBtn" value="Fertig stellen" class="FormButton" />
      </if:CanApplyNow>

      <script type="text/javascript">
      <!--
        addTableRolloverEffect('TableCampaignSettings','tableRollOverEffect','');


        function DoShowSerialMailPreviewDialog() {
          MailingListId = document.getElementById("MailingListId").value;
          FormId = document.getElementById("FormId").value;
          CampaignListId = document.getElementById("CampaignListId").value;

          if(CampaignListId == 0 || CampaignListId == "") {
            return false;
          }
          if(FormId == 0 || FormId == "") {
            return false;
          }
          if(MailingListId == 0 || MailingListId == "") {
            return false;
          }


          SerialMailPreviewOpenResponder(MailingListId, FormId, "SMSCampaign", CampaignListId, "");
        }


        function DoShowTestMailDialog() {
          MailingListId = document.getElementById("MailingListId").value;
          FormId = document.getElementById("FormId").value;
          CampaignListId = document.getElementById("CampaignListId").value;

          if(CampaignListId == 0 || CampaignListId == "") {
            return false;
          }
          if(FormId == 0 || FormId == "") {
            return false;
          }
          if(MailingListId == 0 || MailingListId == "") {
            return false;
          }

          ResponderPreviewOpenResponder(MailingListId, FormId, "SMSCampaign", CampaignListId, "", "TestMail");
        }

        //AUTO_SCRIPT_CODE_PLACEHOLDER//

      //-->
      </script>

      </form>
