      <fieldset>
      <legend><SHOWHIDE:TOOLTIPS>
                  <img onmouseover="showTooltip(event, 'Beim Ausf&uuml;hren einer SQL-Anweisung trat ein Fehler auf. Informieren Sie den Autor falls es sich um einen ernsten Fehler handelt.');return false" onmouseout="hideTooltip()" src="images/help_icon.gif" width="16" height="16" class="hintimage" alt="" />
                  </SHOWHIDE:TOOLTIPS>Fehler bei Ausf&uuml;hrung einer SQL-Anweisung</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2"><b>SQL-Fehler:</b>&nbsp;<SQL:ERROR></SQL:ERROR><br /><br />
                                <b>SQL-Anweisung:</b>&nbsp;<SQL:QUERY></SQL:QUERY><br /><br /></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />

