      <fieldset>
      <legend>SuperAdmin erfolgreich erstellt</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                Sie k&ouml;nnen sich jetzt mit dem Nutzernamen <b>superadmin</b> und Kennwort <b>%PASSWORD%</b> anmelden
                um einen oder mehrere Adminstratoren f&uuml;r Ihre Empf&auml;ngerlisten zu erstellen.<br /><br />
                Sie m&uuml;ssen sich nach der Erstellung eines Administrators erneut abmelden und als Administrator erneut anmelden, um Empf&auml;ngerlisten erstellen zu k&ouml;nnen.
                <br />
                </td>
              </tr>
              <tr>
                <td colspan="2"><br /><br /><a href="./index.php">Zur Anmeldeseite</a></td>
              </tr>
            </tbody>
          </table>
          
      </fieldset>

      <br />
