      <form id="InstallForm" name="InstallForm" method="post" action="./upgrade.php">
      <input type="hidden" name="step" value="4" />
      <input type="hidden" name="Language" />
      <fieldset id="fieldset1" name="fieldset1">
      <legend>Upgrade - PRODUCTAPPNAME</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>
             			<br />Bitte warten Sie w&auml;hrend die Tabellen analysiert und angepasst werden&nbsp;&nbsp;<img src="images/loading.gif" width="32" height="32" alt="" />
             			<br />
            				<br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <!--SPACER//-->

      <fieldset id="fieldset2" name="fieldset2">
      <legend>Upgrade - PRODUCTAPPNAME</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>
             			<br />
             			<br />
                <b>Die Tabellen im Schritt 3 wurden aktualisiert, klicken Sie auf &quot;Weiter&quot;, um fortzufahren.</b>
             			<br />
            				<br />
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>
      
      <script type="text/javascript" name="idRefresh" id="idRefresh">
      <!--
        ShowItem("fieldset1", false);
        //AUTO_SCRIPT_CODE_PLACEHOLDER//
      //-->
      </script>
