      <form id="InstallForm" name="InstallForm" method="post" action="./upgrade.php">
      <input type="hidden" name="step" value="1" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>Upgrade - PRODUCTAPPNAME</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td>
                <h2>Dies f&uuml;hrt ein Upgrade der PRODUCTAPPNAME Tabellen in <b>3</b> Schritten durch.</h2>
             			<br />
            				<br />
            				<h2>
                    Sollte w&auml;hrend des Upgrades dieses Script abgebrochen werden (mindestens 10 Minuten keine Reaktion im Browser),
                    dann rufen Sie es danach erneut auf, bis endg&uuml;ltig alle Tabellen aktualisiert worden sind.
                </h2>
             			<br />
            				<br />
                </td>
              </tr>
              <tr>
                <td>
                  Klicken Sie auf &quot;Weiter&quot; um mit dem Upgrade zu beginnen.
             					<br />
             					<br />
                   
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

      <input type="submit" name="NextBtn" value="Weiter &gt;" class="FormButton" />

      </form>
      
