      <form id="InstallForm" name="InstallForm" method="post" action="./upgrade.php">
      <input type="hidden" name="step" value="6" />
      <input type="hidden" name="Language" />
      <fieldset>
      <legend>PRODUCTAPPNAME - Abschluss des Upgrades</legend>
      <br />
          <table class="FormTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            	<tr>
                <td>
                Das PRODUCTAPPNAME Upgrade wurde damit abgeschlossen.
                <br />
                <br />

                <b>WICHTIG</b><br />Kommt es in der Oberfl&auml;che zu Darstellungsfehlern, JavaScript-Fehlern oder dauernden Abmeldungen, l&ouml;schen Sie
                den Browsercache.
                <br />
                <br />

                </td>
            	</tr>
            	<tr>
                <td>
                Klicken Sie auf nachfolgenden Link um PRODUCTAPPNAME auszuf&uuml;hren
                <br />
                <a href="START_LINK">START_LINK</a>
                <br />
                <br />
                <br />
                </td>
            	</tr>

            </tbody>
          </table>
      </fieldset>
      </form>
